@{
    ViewBag.Title = "Crear Sala";
}
@using Proyecto.Models;
<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="sala1" class="row">
        <div id="sala" class="row">
            <div id="borrar" class="col-sm-12">
                <div class="card" id="crearsal">
                    <img class="card-img-top" src="@ViewBag.Imagen" alt="Card image cap">
                    <div class="boton-container">

                        <a href="#" data-toggle="modal" data-target="#myModal2" style="display: inline-block;" onclick="crearSala()" class="salab"><ion-icon style="display: inline-block;vertical-align:-2px;" name="people"></ion-icon> Crear Sala</a>
                        <a href="@Url.Action("PeliIndi","Home")" style="display: inline-block;" class="salab"><ion-icon style="display: inline-block;vertical-align:-2px;" name="play-circle"></ion-icon> Ver Ahora</a>
                    </div>
                    <div style="position:relative" class="card-body">
                        <h5 class="card-title">@ViewBag.titulo</h5>
                        <p class="card-text">@ViewBag.Descripcion</p> <br>
                        <h10>Duracion: @ViewBag.Duracion minutos</h10><br>
                        <h10>Año: @ViewBag.año </h10><br>
                        <h10>Generos: @ViewBag.genero </h10><br>
                    </div>
                </div>
            </div>
            <br />

        </div>
    </div>
    <div class="container">
        <!-- The Modal -->
        <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Sala creada</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="form">
                            <h2>Nombre de la sala</h2>
                            <form method="post">
                                <div class="inputBox">
                                    <input type="text" name="nombre" placeholder="Username">
                                </div>
                                <div class="inputBox">
                                    <input type="submit" value="Entrar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script>
        function checkcod() {
            var boton = document.querySelector('#botondecodigo');
            var codigobtn = document.querySelector('#cod');
            var checkbox = document.querySelector('#switch-flat');
            var titulo = document.querySelector('#lo');
            if (checkbox.checked) {
                boton.insertAdjacentHTML("beforeend", '<button  onclick="numerosAleatoriosNoRepetidos()"  style="display: inline - block; " id="boton" ><ion-icon style="display: inline - block; vertical - align: -2px; " name="play - circle"></ion-icon>Codigo</button>');
                titulo.innerHTML = "Privada" ;
                console.log('Checked');
            } else {
                boton.innerHTML = "";
                codigobtn.innerHTML = "";
                titulo.innerHTML = "Publica";
                console.log('Not checked');
            }

        };
        function check() {
            if (checkbox1.checked) {
                console.log('Checked');
            } else {
                console.log('Not checked2');
            }

        };





        function numerosAleatoriosNoRepetidos() {
            var codigobtn = document.querySelector('#cod');
            codigobtn.innerHTML = "El codigo es:" + @ViewBag.random;
            //codigobtn.insertAdjacentHTML("beforeend", "El codigo es:" + codigo)
            console.log(arraycod)
        }



        function crearSala() {

            var sala1 = document.querySelector('#sala1');
            var sala2 = document.querySelector('#borrar');

            sala1.innerHTML = "";
            sala2.innerHTML = "";


            sala1.insertAdjacentHTML("beforeend", `
                    <div class="col-sm-6" >
                        <div class="card" id="crearsal">
                            <img class="card-img-top" src="@ViewBag.Imagen" alt="Card image cap">
                                <div class="boton-container">
                                    <a href="@Url.Action("PeliIndi","Home")" style="display: inline-block;" class="salab"><ion-icon style="display: inline-block;vertical-align:-2px;" name="play-circle"></ion-icon>Ver Ahorao</a>

                                </div>

                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card" id="crearsal">
                                <h1 class="ti">Crear Sala</h1>
                                <div class="card-body">
                                    <p class="card-text">
                                        <div class="boton-container">
                                            <h2 id="lo" class="lo1">Privada</h2>
                                            <input type="checkbox" id="switch-flat" onclick="checkcod()" class="switch switch--flat">
                                                <label for="switch-flat"></label>
                                                <div class="boton-container" id="botondecodigo" style="position: relative">
                                                </div>
                                                <div id="cod">

                                                </div>
                                                <h2 class="lo">  Privada</h2>
                                                <input type="checkbox" id="switch-flat1" onclick="check()" class="switch switch--flat">
                                                    <label for="switch-flat1"></label>
                                        </div>
                                    </p>
                                        </div>
                            </div>
                                </div>

                                `);


        }



    </script>

    <style>


        .modal {
            /* Border */
            border: 1px solid rgba(0, 0, 0.3);
            backdrop-filter: blur(3.0px);
        }

        .modal-header {
            background: #1c1c1c;
            color: #fff;
        }

        .modal-body {
            background: #1c1c1c;
            color: #fff;
        }

        .modal__header {
            background: #1c1c1c;
            display: flex;
            justify-content: space-between;
            /* Border */
            border-bottom: 1px solid rgba(0, 0, 0.3);
        }

        .modal__footer {
            display: flex;
            /* Push the buttons to the right */
            justify-content: flex-end;
            /* Border */
            border-top: 1px solid rgba(0, 0, 0.3);
        }

        .form {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 40px;
        }

            .form h2 {
                position: relative;
                color: #fff;
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 40px;
            }

                .form h2::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 80px;
                    height: 4px;
                    background: #fff;
                }

            .form .inputBox {
                width: 100%;
                margin-top: 20px;
            }

                .form .inputBox input {
                    width: 100%;
                    background: rgba(255, 255, 255, 0.2);
                    border: none;
                    outline: none;
                    padding: 10px 20px;
                    border-radius: 35px;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: #fff;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
                }

                    .form .inputBox input[type="submit"] {
                        background: #fff;
                        color: #666;
                        max-width: 100px;
                        cursor: pointer;
                        margin-bottom: 20px;
                        font-weight: 600;
                    }


        .ti {
            text-align: center;
        }

        #crearsal {
            /height: 510px;
            / background-color: #1c1c1c;
            color: white;
            font-family: 'Helvetica Neue LT Std';
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .form-switch .form-check-input:checked {
            background-color: black;
            border-color: black;
            box-shadow: none;
        }

        .form-switch .form-check-input {
            width: 50px;
            height: 25px;
        }


        .boton-container {
            display: inline-block;
            position: relative;
        }

            .boton-container .salab {
                position: relative;
                bottom: 45px;
                left: 10px;
                margin-right: 15px;
                text-decoration: none;
                border-radius: 7px;
                color: white;
                text-transform: uppercase;
                padding: 5px;
                width: 122px;
                height: 32px;
                font-family: 'Montserrat',sans-serif;
                font-weight: 800;
                background-color: rgba(0, 0, 0, 0.700);
                border: 1px solid #fff;
                font-size: 13px;
            }

            .boton-container #boton {
                left: 10px;
                margin-right: 15px;
                text-decoration: none;
                border-radius: 7px;
                color: white;
                text-transform: uppercase;
                padding: 5px;
                width: 122px;
                height: 32px;
                font-family: 'Montserrat',sans-serif;
                font-weight: 800;
                background-color: rgba(0, 0, 0, 0.700);
                border: 1px solid #fff;
                font-size: 13px;
            }

        .salab:link,
        .salab:visited {
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 230%;
            transition: all .3s
        }

        .salab:hover {
            background-position: 100%;
            color: #000;
            transform: translateX(8px);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2)
        }
    </style>



    <!--  <div class="container">
         The Modal --
    <div class="modal fade" id="entrar">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header --
                <div class="modal-header">
                    <h3 class="modal-title">Entrar a sala</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body --
                <div class="modal-body">

                    <h5>Nombre: </h5>
                    <input id="nombre" name="Nombre" type="text" />
                    <h5>Codigo: </h5>
                    <input id="contraseña" name="Nombre" type="text" />

                    <br>

                </div>

                <!-- Modal footer --
                <div class="modal-footer">
                    <a id="verificar" href="">Aceptar</a>
                </div>

            </div>
        </div>
    </div>
    </div>
        -->

</body>
</html>