@{
    ViewBag.Title = "Crear Sala";
}
@using Proyecto.Models;
<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

    <div id="sala1" class="row">
        <div id="sala" class="row">
            <div id="borrar" class="col-sm-12">
                <div class="card" id="crearsal">
                    <img class="card-img-top" src="@ViewBag.Imagen" alt="Card image cap">
                    <div class="boton-container">
                        <a href="#" data-toggle="modal" data-target="#myModal" style="display: inline-block;" onclick="crearSala()" class="salab"><ion-icon style="display: inline-block;vertical-align:-2px;" name="people"></ion-icon> Crear Sala</a>
                        <a href="@Url.Action("PeliIndi","Home")" style="display: inline-block;" class="salab"><ion-icon style="display: inline-block;vertical-align:-2px;" name="play-circle"></ion-icon> Ver Ahora</a>
                    </div>
                    <div style="position:relative" class="card-body">
                        <h5 class="card-title">@ViewBag.titulo</h5>
                        <p class="card-text">@ViewBag.Descripcion</p> <br>
                        <h10>Duracion: @ViewBag.Duracion minutos</h10><br>
                        <h10>Año: @ViewBag.año </h10><br>
                        <h10>Generos: @ViewBag.genero </h10><br>
                    </div>
                </div>
            </div>
            <br />


        </div>
    </div>

    <div class="container">

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Creas sala</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <h5>Tipo de sala:</h5>
                        <svg class="checkbox-symbol">
                            <symbol id="check" viewbox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"
                                          stroke-width="2"></polyline>
                            </symbol>
                        </svg>

                        <div class="checkbox-container">
                            <input class="checkbox-input" id="apples" type="checkbox"/>
                            <label class="checkbox" for="apples">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Sala publica</span>
                            </label>
                            <input class="checkbox-input" id="oranges" type="checkbox"/>
                            <label class="checkbox" for="oranges">
                                <span>
                                    <svg width="12px" height="10px">
                                        <use xlink:href="#check"></use>
                                    </svg>
                                </span>
                                <span>Sala privada</span>
                            </label>
                        </div>
                        <br>
                        <h5><label for="customRange1" class="form-label">Cantidad de personas:</label></h5>
                        <input type="range" class="form-range" id="customRange1">
                    </div>


                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="salab" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Aceptar</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Sala creada</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <h5>Nombre de la sala:</h5>
                        <br />
                        <div class="form__div">
                            <input type="text" class="form__input" placeholder=" ">
                            <label for="" class="form__label">Nombre</label>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
                        </div>

                    </div>
             </div>
        </div>

    </div>

    </div>



    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    <script>
        function checkcod() {
            var boton = document.querySelector('#botondecodigo');
            var codigobtn = document.querySelector('#cod');
            var checkbox = document.querySelector('#switch-flat');
            var titulo = document.querySelector('#lo');
            if (checkbox.checked) {
                boton.insertAdjacentHTML("beforeend", '<button  onclick="numerosAleatoriosNoRepetidos()"  style="display: inline - block; " id="boton" ><ion-icon style="display: inline - block; vertical - align: -2px; " name="play - circle"></ion-icon>Codigo</button>');
                titulo.innerHTML = "Privada" ;
                console.log('Checked');
            } else {
                boton.innerHTML = "";
                codigobtn.innerHTML = "";
                titulo.innerHTML = "Publica";
                console.log('Not checked');
            }

        };
        function check() {
            if (checkbox1.checked) {
                console.log('Checked');
            } else {
                console.log('Not checked2');
            }

        };





        function numerosAleatoriosNoRepetidos() {
            var codigobtn = document.querySelector('#cod');
            codigobtn.innerHTML = "El codigo es:" + @ViewBag.random;
            //codigobtn.insertAdjacentHTML("beforeend", "El codigo es:" + codigo)
            console.log(arraycod)
        }



        function crearSala() {

            var sala1 = document.querySelector('#sala1');
            var sala2 = document.querySelector('#borrar');

            sala1.innerHTML = "";
            sala2.innerHTML = "";


            sala1.insertAdjacentHTML("beforeend", `
                    <div class="col-sm-6" >
                        <div class="card" id="crearsal">
                            <img class="card-img-top" src="@ViewBag.Imagen" alt="Card image cap">
                                <div class="boton-container">
                                    <a href="@Url.Action("PeliIndi","Home")" style="display: inline-block;" class="salab"><ion-icon style="display: inline-block;vertical-align:-2px;" name="play-circle"></ion-icon>Ver Ahorao</a>

                                </div>

                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card" id="crearsal">
                                <h1 class="ti">Crear Sala</h1>
                                <div class="card-body">
                                    <p class="card-text">
                                        <div class="boton-container">
                                            <h2 id="lo" class="lo1">Privada</h2>
                                            <input type="checkbox" id="switch-flat" onclick="checkcod()" class="switch switch--flat">
                                                <label for="switch-flat"></label>
                                                <div class="boton-container" id="botondecodigo" style="position: relative">
                                                </div>
                                                <div id="cod">

                                                </div>
                                                <h2 class="lo">  Privada</h2>
                                                <input type="checkbox" id="switch-flat1" onclick="check()" class="switch switch--flat">
                                                    <label for="switch-flat1"></label>
                                        </div>
                                    </p>
                                        </div>
                            </div>
                                </div>

                                `);


        }



    </script>







    <style>

        .modal-header {
            background: #1c1c1c;
        }

        .modal-body {
            background: #1c1c1c;
            color: #ffffff;
        }

        .modal-footer {
            background: #1c1c1c;
        }

        .modal-title {
            color: #ffffff;
        }

        .checkbox-symbol {
            position: absolute;
             width: 0;
            height: 0;
            pointer-events: none;
            user-select: none;
        }


        .checkbox-container {
            box-sizing: border-box;
            background: #1c1c1c;
            color: #ffffff;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
}

.checkbox-container * {
  box-sizing: border-box;
}

.checkbox-input {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
}

.checkbox:not(:last-child) {
  margin-right: 6px;
}

.checkbox:hover {
  background: rgba(0, 119, 255, 0.06);
}

.checkbox span {
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.3s ease;
}

.checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox:hover span:first-child {
  border-color: #0077ff;
}

.checkbox-input:checked + .checkbox span:first-child {
  background: #0077ff;
  border-color: #0077ff;
  animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}



        .ti {
            text-align: center;
        }

        #crearsal {
            /*height: 510px;*/
            background-color: #1c1c1c ;
            color: white;
            font-family: 'Helvetica Neue LT Std';
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .form-switch .form-check-input:checked {
            background-color: black;
            border-color: black;
            box-shadow: none;
        }

        .form-switch .form-check-input {
            width: 50px;
            height: 25px;
        }


        .boton-container {
            display: inline-block;
            position: relative;
        }

            .boton-container .salab {
                position: relative;
                bottom: 45px;
                left: 10px;
                margin-right: 15px;
                text-decoration: none;
                border-radius: 7px;
                color: white;
                text-transform: uppercase;
                padding: 5px;
                width: 122px;
                height: 32px;
                font-family: 'Montserrat',sans-serif;
                font-weight: 800;
                background-color: rgba(0, 0, 0, 0.700);
                border: 1px solid #fff;
                font-size: 13px;
            }

            .boton-container #boton {
                left: 10px;
                margin-right: 15px;
                text-decoration: none;
                border-radius: 7px;
                color: white;
                text-transform: uppercase;
                padding: 5px;
                width: 122px;
                height: 32px;
                font-family: 'Montserrat',sans-serif;
                font-weight: 800;
                background-color: rgba(0, 0, 0, 0.700);
                border: 1px solid #fff;
                font-size: 13px;
            }

        .salab:link,
        .salab:visited {
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 230%;
            transition: all .3s
        }

        .salab:hover {
            background-position: 100%;
            color: #000;
            transform: translateX(8px);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2)
        }





        .switch__container {
            margin: 30px auto;
            width: 50px;
        }

        .switch {
            visibility: hidden;
            position: absolute;
            margin-left: -9999px;
        }

            .switch + label {
                display: block;
                position: relative;
                cursor: pointer;
                outline: none;
                user-select: none;
            }



        /* Estilo Flat */
        .switch--flat + label {
            padding: 2px;
            width: 50px;
            height: 30px;
            background-color: black;
            border-radius: 60px;
            transition: background 0.4s;
        }

            .switch--flat + label:before,
            .switch--flat + label:after {
                display: block;
                position: absolute;
                content: "";
            }

            .switch--flat + label:before {
                top: 2px;
                left: 2px;
                bottom: 2px;
                right: 2px;
                background-color: black;
                border-radius: 60px;
                transition: background 0.4s;
            }

            .switch--flat + label:after {
                top: 4px;
                left: 4px;
                bottom: 4px;
                width: 30px;
                background-color: #dddddd;
                border-radius: 52px;
                transition: margin 0.4s, background 0.4s;
            }

        .switch--flat:checked + label {
            background-color: black;
        }

            .switch--flat:checked + label:after {
                margin-left: 12px;
                background-color: white;
            }


        :root {
            /*===== Colores =====*/
            --first-color: #1A73E8;
            --input-color: #80868B;
            --border-color: #DADCE0;
            /*===== Fuente y tipografia =====*/
            --body-font: 'Roboto', sans-serif;
            --normal-font-size: 1rem;
            --small-font-size: .75rem;
        }

        /*===== BASE =====*/
        *, ::before, ::after {
            box-sizing: border-box;
        }

        :root {
            /*===== Colores =====*/
            --first-color: #1A73E8;
            --input-color: #1c1c1c;
            --border-color: #DADCE0;
            /*===== Fuente y tipografia =====*/
            --body-font: 'Roboto', sans-serif;
            --normal-font-size: 1rem;
            --small-font-size: .75rem;
        }

        /*===== BASE =====*/
        *, ::before, ::after {
            box-sizing: border-box;
        }

        h1 {
            margin: 0;
        }

        /*===== FORM =====*/
        .l-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form {
            width: 360px;
            padding: 4rem 2rem;
            border-radius: 1rem;
            box-shadow: 0 10px 25px rgba(92,99,105,.2);
        }

        .form__title {
            font-weight: 400;
            margin-bottom: 3rem;
        }

        .form__div {
            position: relative;
            height: 48px;
            margin-bottom: 1.5rem;
        }

        .form__input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: var(--normal-font-size);
            border: 1px solid var(--border-color);
            border-radius: .5rem;
            outline: none;
            padding: 1rem;
            text-shadow: none;
            background-color: #ffffff;
            z-index: 1;
        }

        .form__label {
            position: absolute;
            left: 1rem;
            top: 1rem;
            padding: 0 .25rem;
            background-color: #1c1c1c;
            color: #ffffff;
            font-size: var(--normal-font-size);
            transition: .3s;
        }

        .form__button {
            display: block;
            margin-left: auto;
            padding: .75rem 2rem;
            outline: none;
            border: none;
            background-color: var(--first-color);
            color: #fff;
            font-size: var(--normal-font-size);
            border-radius: .5rem;
            cursor: pointer;
            transition: .3s;
        }

            .form__button:hover {
                box-shadow: 0 10px 36px rgba(0,0,0,.15);
            }

        /*Input focus move up label*/
        .form__input:focus + .form__label {
            top: -.5rem;
            left: .8rem;
            color: var(--first-color);
            font-size: var(--small-font-size);
            font-weight: 500;
            z-index: 10;
        }

        /*Input focus sticky top label*/
        .form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
            top: -.5rem;
            left: .8rem;
            font-size: var(--small-font-size);
            font-weight: 500;
            z-index: 10;
        }

        /*Input focus*/
        .form__input:focus {
            border: 1.5px solid var(--first-color);
        }

    </style>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    </div>


</body>

</html>
