@{
    ViewBag.Title = "index";
}
@using Proyecto.Models
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <script src="~/Scripts/js1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@ViewBag.lista[0].Imagen" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="@ViewBag.lista[1].Imagen" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="@ViewBag.lista[2].Imagen" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container2">
        <div class="card terror">
            <img class="title" src="https://lh3.googleusercontent.com/VWJB6OlLxDpxa6NbEQryyV0Ot6jcD8Lx5Pti4jvleHdRacGk1cH2sKTXHvvETB7h7MIuFTpRD_VW73ANJ34wmcwH9GoLo8w-E5srZVMVdWp37MaRVmdP1xSc34uCusTe6dI4qeMerEHwk2bKtKGn4e6Y-_ZKE9xRk2SPdpev4-DsT_zHYe-QKoa7TNgfiyWy2frlreQ509aPzViRVar3hiODUSD0ra9XOeOgZanFYovFaNnEFUTS3LhcYhi3ANHPm90Z1ZAyxhBv9lsCexyBRUonl8q5aTCoPUYKjY674X0VtsxfPgOk_-Cq6j2J4rCDn9vcDbN98xHNf4Pbe1LTJJb-15PGGwyYrZJ7ZFJ2Iog3gA6d6wh_cF6tskO4jeoK28N1TRyUFJQQSr-ACKA3TUp7LaQe28zPKXgM3G2fDk9UmbED2XpxcYspfjN4zoKgAUg79j5OJRvK-F632gE0LyqmtvdzCZEtnehw5Wlu14_S9kjd24hP9c8eusrI_M9kUy_dRJx77JdFA-7msTcH8IInelNcMU5sDqDOuG0-8PhS-1WDIAOFCbkNXsJ0Y-kgvyzbfCuLWqkLUKQllTxeAnDMU2SxaZ6PtIDqTGnf13ZbbjdlLZgPerwnh76onGMCuRne21BOJpZ9whbAH-fBR_2awTBbKRUUw3zfv_57QIOtYusNLrxFqGcqn7AgYcvAAKkkmQSr30nxfVKl=w632-h395-no?authuser=3" alt="">
        </div>
        <div class="card accion">
            <a class="pos" href="@Url.Action("Accion", "Home")"> <img class="title" src="https://lh3.googleusercontent.com/g5GYU-yvyN9OYRe12J9lH5O8wcLrzlaAFLGf_urZYZcxyC1zHtJ02bjqjcPTaUfB-vPYKbkpt_N_R_tUgpCXrFHXr8bDbccNP6k5efzX7rw-O_XRNdVBAYRENh0v6OYypGWZgZFJmxH8pqImlqVYs5cW1vA1lqLoqMD4h1omSQskF2SEZuVNrIXx-Jts2SWvzMXA8avprJSE1tVMjCVINkVAzG8zdjLo0Zkv02VAhKc7Hj5M-Nmz6QxoNALeQFxIHO9v3sRZM8J1HU4PY0gLaWKJ9WH4aUx0okb6elGu-ipnn44_Om-4l8cmuXy_gP_bU3OQsGUpItBscJwdCDZYC3b9s8kF_6T0rmFzKWYPcxqsxa2ltR-9l0WnC_i0lmDvt7MhlsZ3Pfv-uuewcn6f-EI0pg4jgJ-VPhdAGJxEuVx6k1ssbUpGc3z-KsSQl2ELS4puqxUqRUZOmSeBsOC6aTBfhAWKxPRXhagCOqSVHCDeEG38LXJG7qmlyq8oyKRGVVbeL9_wt2IUBxNtjFfq6b8HGTIILisH-IS1qpf0v3_HCFbX448AIscCFfoyv8nfzJwsX5pyHbAMA-zaZ88h7whiub8iwXUc_u3PX0Q4B83sWmfAhPoI1JJrAc2E2VJbkJ7zTOT294rVchp2Q8U9PhKLixWFsUgWSCt-dcz-EFIdx5hlFEELPOgqzB_IIACa34AbFbUkuFiChAXL=w632-h395-no?authuser=3" alt="" /></a>
        </div>
        <div class="card comedia">
            <a href="@Url.Action("Comedia", "Home")"><img class="title" src="https://lh3.googleusercontent.com/d6uhbgafSnsr_TPBlU13NckRx20y1K4bKqdkU_pTh0q_hxAtCmwA-y6eD2rmPtgcf_ALXmeoJoJ9hmZk7aQVraYZVaCEJ3H1d7_nWlCcqaghdAdvPQDG15ilkDwyTvjdOYv1M25CMyAKkRpH1ABkMgOCVZh-H1NGs2UkpiGCeSJg99pEZ5x2zQEKxnJMPLbtPNtk0xwUiewbtX_31sfNK42VYt1MJU_Y8onITo-hHvxP45Jj8hff06havWOKmsDV4ph7al6A-oQ7F1HIFbj1zWWbcY-BHAYi73lk1KKqy0KnG8A6Y-Eg-VAIyoy6Co3mcuAj8eta0SP5bur9M_wEjc7GpJZjhBVoCnRsh0qZt0oXyOrmp8J4mr2741d4q_Mxe5GEDWg_hsICaKsD42nLzUTYl_3VYiwt4qIyUMTRDMHLHdRZ2yKSgJKrf4_ZvZLVIRcc_--2x7J_COANesuXFrEGuJUzg_zYTyZ-NZ04Lvd3vzVT_pgu7HZnxdE6fbrn1u5X4oouCB9qYA_BSrTMmBjKRq48WHNoFVDz6dVJkINq7BzmuiLaFJ8jz3u0PgZBSMwvP7A5R-A2wUivhQojxSoghkpV8Hs-t5NRj0HHzYWTFXUCETEC7-TwtoCHc14dDpMj3SErS6EcTPfO0-TyAfhk4Z64n0FxWPVaZn2AQNkCvICokyAbjmN3YaHcFcTPDbgV7ejtGivhi0xd=w632-h395-no?authuser=3" alt=""></a>
        </div>
        <div class="card animacion">
            <!--HACER-->
            <a href="@Url.Action("Animacion", "Home")"><img class="title" src="https://lh3.googleusercontent.com/eEZ1RSgD3marnDsitsowbEah8NZrmeIPX-pasBTOlVT2mhGkVZ2YdIY7VUiVYxhiTaf9kw_xshFPUN-kWfvY2S284ffl1tSkYZsA0_5LscT7Wa-iU9lLo9pONoz-DHSCbQOY803xKIJN8mLUyp8WBnMIocu7TTBB08tlDxPYKtrFtT5p1KMwjPlua1ghnoJVmnqEWR8GNdn2SJ6uW906w2kTqGmOrKJ9g0Ff7dwdcyahkZQcRzVj5oj3zv-V02rnyaDRsoND7UfIguHybS_Ln1pLR3hN_FAuaTk-eZcpIpNYwfycQ1uby9yKvlN9zCq0HRVu8GUg0QFMtEgyRPgVYYQizY_B4mlQKeibXYSD2ycA0XS92v91cx0jlF19PeY9zffLoN15QqYfKv28FZeFEJl0CZbLTKIzm52Fe4CCXnhusqjsf3mAp9S82SSsKpplAwA_rSRvd5JMP7ZY7ZWrzbCCBKCunn3qeSMNMhHLD45JN7Q7QD6HenSW1F7lu5jop_a0u6sEHYYtxmNyLZrRm-ry1nWJgLTUa_pq7dCYwteed9T45yn_x1uOE-ULskGWRzDpE3Rgkvjg0uY2jNk7q8D_VRAyHG3q2nmRpmtOndhFVVQszboaqkZcwNuO6ejHDRaZOfL41TrnAWeanWYhlaOoBazcadNYvHlZCGjpAaN_ZMtJ10t0Nbgk7_DIiLAzMuKx66cTTQdd6MTj=w632-h395-no?authuser=3" alt=""></a>
        </div>
    </div>
    <div class="container2">
        <div class="card suspenso">
            <!--HACER-->
            <a href="@Url.Action("CienciaFiccion", "Home")"><img class="title" src="https://lh3.googleusercontent.com/q8YkNAjZTsx11xPcHy_Mh_uQqizkKdcsai4eRsitONcQfUZurDvnbXNTdwjGvF1cRn9jbbIWYHxvaPa7wyRr5sUM9mB4FqOqmdwIH1TNYvBxgl7Kcs77cqPAYcpmlKU6gAJQPyv_S1BOvnE2mJe0Ai5yDxtpsoocs8xzDgeDWNvEAqLi0Y6ocAoxMY2EHf7tcSjsYlBC7AluElyuIBrVi0FtjMvO_2egDMkaZRVSyQ3-wlnhkJagOtiUFgozenTgKKpRfyCUeArKt2_9xlOu62pxkGrZxTetw-Pt8UT7XDxwgEjhIeYUC-ocSl-LgqpXOoHdzKPUpXBbOShai-f9A1gTM5Uz3NwMV78q2Vv92cCZf23FtIYtnGKl7G1XkfO3E7EPrDl9_pe7XqphYYFNonk08mrzw_WS_Sg6bQoEmj53FXywa_CBtr3OYjVZglAqrzvAiBw5Rp2xZYGp2FejC9qYl3oyK-bk3Ixq2-SN7Q7FJ8n9sceaL7JwF3ETk6lx8768mcaQfyi5Qd2S3RhIA9bzdLFLnBy-lXCNNWIftiSLY3U_PBSb2h2-gOGmEdVlgXbF4Nb6abbyeGR9LP8c-Xxd8ISlAkaIz8_2Gh_0e1Z-jc1HUqb0xp3mKwNe2O-rCuaUIdHoTR9CclhmZyJ54VMQ5ijnKSywgbmoiOxtBD34pbrv2VoJSJV5R93IiNW5wUKtOdrN9mraQ_iH=w632-h395-no?authuser=3" alt=""></a>
        </div>
        <div class="card drama">
            <a href="#"><img class="title" src="https://lh3.googleusercontent.com/p32n_c79tUEkdpDpGsCkHfcuZqKaMMJZs754apWgpgJbJ4rU-Ks-zd37U2S1p8JCFr0svJ76a-iSGQ_E8VpXR1W2JKpHtpL5UzPDWJuoedZZemXnJLSUHvsIsxhwgIy5iHMVJ51tpLM6NDHjLOwgcSgIoFCRmQ6PFGt3FkXQUsPxer8PsRFm8qYt8-3mgetOrdFWqjqLXU-RLwoLqszNJVchGMraiX72KxdzQnT4pNaLziCveOrWX4lyYv4vH9wydiJ7D9fH5i3ESwn64-aX1DGmmuUp_vZ_ydLLWGufxfRmVEtqbXVLaGwccBZwBqza9mgD0HdmiVzHS1lDgQFfMQP9-A6agOzsGDUOWNcq9l6wAIJQ190ykTmglGWtxuOkaCQh4ZgcJZuadp1Je7lIgwU4O-yVsR6-6p4DbneALQYhme7_YPgWzQVCCH_zCtgplJ2i8rupERZuR9gqe6lKrbAH8zCYFkN_mNPXFiTLnRl1STU_vFoEKduCimB2dOT_flSl4aEKiuO_hfW6atsD37gehfql3YSE9sH0uU3i5x6l0g_8gQeTtiHGZtoLK_yiYxpsNbI6BIcTWJe02TJNKuiFIDmCwd7TixfIlsd3meUZqpAC6FZIeA7YVk-j7V6cXbR_pmgsQGc17l7yCFdWPt7iCmgs-UgaYqdAmbmp0WXgNB1wUOAJ26XL7Bl_TTNqFe66NFCit9wSQPkg=w632-h395-no?authuser=3" alt=""></a>
        </div>
        <div class="card musical">
            <a href="#"><img class="title" src="https://lh3.googleusercontent.com/YMTpT5zx6JP06KXhFXsis3G6JZgl1P7WMJQs6FxdUYiacHVXltIw-It98aOK3SfjqVUIiQUi3FQ6D7JkcDu0Ebxfhay3UxeO7PGgvDKuFv94Gbr3zBFEwC_GkTTnrLkUz2otD_zsXwTfy2g8l6DDno1WqvmFdk-pWx4EhLRf_hSgmJhiiYMKyqD0KLd7ppiVimV8bXrvkawp5o9I42wk4zCN-OvLMMFnJ3ZA0jm0S_HurFQL_q9bIKMjczemxYwCL1odrWXgsK0oNpZo96QWW7B-r2MK7HThviv2t-nLC3__olpDEnyShQBfX5nJv8ZPyg5v05E5bw8uYIytneh_DLEx9UBa7wEXDl5moOR-poFxmKbjX0VCJsUkXmRqpKmZFVy4xC9qWfGt2oFXlOldewD5lCrJT3eWnmVjskzrkBGrZLzeflNffjI3lFLYrIBw4yRN3LMlIdXIBz89P7BHZJCHFXVwu1QqoYCi_dQCuG8bZJ3C2cSi9BeL74m49ZKY5Kg8aZk_aGaVW-mHTU90EfAHXv59hbbk9g-sSaMd6HwSEhD5x2liqTz-HUfTnqqk0e4NvvbSEYGX206yfTgLCHjzU8wT9k8OyY1KUhsQu_desziYQVtoVlN9jjrY3K-tcpBM7Xp5qNYhBxOv4qOuzTPOCUlKCEW9erD0gvnvcxg7luw_HjHKpDh6Jm4-ETd_3nqVr0sxIaJDKUQp=w632-h395-no?authuser=3" alt=""></a>
        </div>
        <div class="card documental">
            <a href="#"><img class="title" src="https://lh3.googleusercontent.com/JuMsBT7AtzZfsKJ-68b-2F7z-Vjs3cQQ2gtKQ4n3UWC8kNX1-_2P4DttTfMs-EB04Ea3_KB24SVvFI6DToWeq31QXRFqpjZekSpYA9o7VmMj4y8PBsjKViDZudY_yfor-TRPVHR4Vs_8LEajrcIOvEakQ_MxcWFFeR0opWwCHXgOlfWafUlN2F01YCFiEcenXyA_GBoEfSgS8ekM3mjM_zmWkuIYWGc0eEfuuytowGv47PLPEykTQmQWaw3AcbSsLckkbZotDYTPfZHW64SnjSIJCZ0Hn2yKO-4r4jjyYfMZnLVV1hgnRIWQIHkOn96fdMb4uLusXwoYTnpgM-UI4QfpDOA3kxrYZFbhjG5hNXzh3UWeiCAKEl6AvgbmMIvJ4vq8sX468b9JazsA05xNNLHWt5rE-QbqTZSdPD71sfzk6h26MeHDWzuwuyExVO5jez0UtZHuz7_PWwzXsMVeeoHq-JlxB1GCvBmA2sryYrWUqpkZPLCZKEV7wSlmN2rQ3hJdYQcUmhWEcIMqrz7e2Zu9Z-Pc93PZJzB94JOQDal8VfTL3dCywx9AaBOoDuyxoPyKZqsZ6xYo71mSZSGAhohPasYi7WXuttKfZJ3wv7jObsw7pQOeZ3zEGtyLTZ3Z8Nx2XYBoI6ReHWdFmxAm7fk-UaaGnJPkJORj3fZ5G12ENinZGxiDnw7fOQFSQKh4TVHs0h8oQmH2rOFE=w632-h395-no?authuser=3" alt=""></a>
        </div>
    </div>
    <div class="container2">
        <div class="card fantasia">
            
    <a href="@Url.Action("Fantasia", "Home")"><img class="title" src="https://lh3.googleusercontent.com/q8YkNAjZTsx11xPcHy_Mh_uQqizkKdcsai4eRsitONcQfUZurDvnbXNTdwjGvF1cRn9jbbIWYHxvaPa7wyRr5sUM9mB4FqOqmdwIH1TNYvBxgl7Kcs77cqPAYcpmlKU6gAJQPyv_S1BOvnE2mJe0Ai5yDxtpsoocs8xzDgeDWNvEAqLi0Y6ocAoxMY2EHf7tcSjsYlBC7AluElyuIBrVi0FtjMvO_2egDMkaZRVSyQ3-wlnhkJagOtiUFgozenTgKKpRfyCUeArKt2_9xlOu62pxkGrZxTetw-Pt8UT7XDxwgEjhIeYUC-ocSl-LgqpXOoHdzKPUpXBbOShai-f9A1gTM5Uz3NwMV78q2Vv92cCZf23FtIYtnGKl7G1XkfO3E7EPrDl9_pe7XqphYYFNonk08mrzw_WS_Sg6bQoEmj53FXywa_CBtr3OYjVZglAqrzvAiBw5Rp2xZYGp2FejC9qYl3oyK-bk3Ixq2-SN7Q7FJ8n9sceaL7JwF3ETk6lx8768mcaQfyi5Qd2S3RhIA9bzdLFLnBy-lXCNNWIftiSLY3U_PBSb2h2-gOGmEdVlgXbF4Nb6abbyeGR9LP8c-Xxd8ISlAkaIz8_2Gh_0e1Z-jc1HUqb0xp3mKwNe2O-rCuaUIdHoTR9CclhmZyJ54VMQ5ijnKSywgbmoiOxtBD34pbrv2VoJSJV5R93IiNW5wUKtOdrN9mraQ_iH=w632-h395-no?authuser=3" alt=""></a>
    </div>
    <div class="card aventura">
       
        <a href="@Url.Action("Aventura", "Home")"><img class="title" src="https://lh3.googleusercontent.com/p32n_c79tUEkdpDpGsCkHfcuZqKaMMJZs754apWgpgJbJ4rU-Ks-zd37U2S1p8JCFr0svJ76a-iSGQ_E8VpXR1W2JKpHtpL5UzPDWJuoedZZemXnJLSUHvsIsxhwgIy5iHMVJ51tpLM6NDHjLOwgcSgIoFCRmQ6PFGt3FkXQUsPxer8PsRFm8qYt8-3mgetOrdFWqjqLXU-RLwoLqszNJVchGMraiX72KxdzQnT4pNaLziCveOrWX4lyYv4vH9wydiJ7D9fH5i3ESwn64-aX1DGmmuUp_vZ_ydLLWGufxfRmVEtqbXVLaGwccBZwBqza9mgD0HdmiVzHS1lDgQFfMQP9-A6agOzsGDUOWNcq9l6wAIJQ190ykTmglGWtxuOkaCQh4ZgcJZuadp1Je7lIgwU4O-yVsR6-6p4DbneALQYhme7_YPgWzQVCCH_zCtgplJ2i8rupERZuR9gqe6lKrbAH8zCYFkN_mNPXFiTLnRl1STU_vFoEKduCimB2dOT_flSl4aEKiuO_hfW6atsD37gehfql3YSE9sH0uU3i5x6l0g_8gQeTtiHGZtoLK_yiYxpsNbI6BIcTWJe02TJNKuiFIDmCwd7TixfIlsd3meUZqpAC6FZIeA7YVk-j7V6cXbR_pmgsQGc17l7yCFdWPt7iCmgs-UgaYqdAmbmp0WXgNB1wUOAJ26XL7Bl_TTNqFe66NFCit9wSQPkg=w632-h395-no?authuser=3" alt=""></a>
    </div>
    <div class="card thriller">
        
        <a href="@Url.Action("Thriller", "Home")"><img class="title" src="https://lh3.googleusercontent.com/YMTpT5zx6JP06KXhFXsis3G6JZgl1P7WMJQs6FxdUYiacHVXltIw-It98aOK3SfjqVUIiQUi3FQ6D7JkcDu0Ebxfhay3UxeO7PGgvDKuFv94Gbr3zBFEwC_GkTTnrLkUz2otD_zsXwTfy2g8l6DDno1WqvmFdk-pWx4EhLRf_hSgmJhiiYMKyqD0KLd7ppiVimV8bXrvkawp5o9I42wk4zCN-OvLMMFnJ3ZA0jm0S_HurFQL_q9bIKMjczemxYwCL1odrWXgsK0oNpZo96QWW7B-r2MK7HThviv2t-nLC3__olpDEnyShQBfX5nJv8ZPyg5v05E5bw8uYIytneh_DLEx9UBa7wEXDl5moOR-poFxmKbjX0VCJsUkXmRqpKmZFVy4xC9qWfGt2oFXlOldewD5lCrJT3eWnmVjskzrkBGrZLzeflNffjI3lFLYrIBw4yRN3LMlIdXIBz89P7BHZJCHFXVwu1QqoYCi_dQCuG8bZJ3C2cSi9BeL74m49ZKY5Kg8aZk_aGaVW-mHTU90EfAHXv59hbbk9g-sSaMd6HwSEhD5x2liqTz-HUfTnqqk0e4NvvbSEYGX206yfTgLCHjzU8wT9k8OyY1KUhsQu_desziYQVtoVlN9jjrY3K-tcpBM7Xp5qNYhBxOv4qOuzTPOCUlKCEW9erD0gvnvcxg7luw_HjHKpDh6Jm4-ETd_3nqVr0sxIaJDKUQp=w632-h395-no?authuser=3" alt=""></a>
    </div>
    <div class="card crimen">
        
        <a href="#"><img class="title" src="https://lh3.googleusercontent.com/JuMsBT7AtzZfsKJ-68b-2F7z-Vjs3cQQ2gtKQ4n3UWC8kNX1-_2P4DttTfMs-EB04Ea3_KB24SVvFI6DToWeq31QXRFqpjZekSpYA9o7VmMj4y8PBsjKViDZudY_yfor-TRPVHR4Vs_8LEajrcIOvEakQ_MxcWFFeR0opWwCHXgOlfWafUlN2F01YCFiEcenXyA_GBoEfSgS8ekM3mjM_zmWkuIYWGc0eEfuuytowGv47PLPEykTQmQWaw3AcbSsLckkbZotDYTPfZHW64SnjSIJCZ0Hn2yKO-4r4jjyYfMZnLVV1hgnRIWQIHkOn96fdMb4uLusXwoYTnpgM-UI4QfpDOA3kxrYZFbhjG5hNXzh3UWeiCAKEl6AvgbmMIvJ4vq8sX468b9JazsA05xNNLHWt5rE-QbqTZSdPD71sfzk6h26MeHDWzuwuyExVO5jez0UtZHuz7_PWwzXsMVeeoHq-JlxB1GCvBmA2sryYrWUqpkZPLCZKEV7wSlmN2rQ3hJdYQcUmhWEcIMqrz7e2Zu9Z-Pc93PZJzB94JOQDal8VfTL3dCywx9AaBOoDuyxoPyKZqsZ6xYo71mSZSGAhohPasYi7WXuttKfZJ3wv7jObsw7pQOeZ3zEGtyLTZ3Z8Nx2XYBoI6ReHWdFmxAm7fk-UaaGnJPkJORj3fZ5G12ENinZGxiDnw7fOQFSQKh4TVHs0h8oQmH2rOFE=w632-h395-no?authuser=3" alt=""></a>
    </div>
    </div>

    <div class="container2">
        <div class="card familiar">
            
            <a href="#"><img class="title" src="https://lh3.googleusercontent.com/q8YkNAjZTsx11xPcHy_Mh_uQqizkKdcsai4eRsitONcQfUZurDvnbXNTdwjGvF1cRn9jbbIWYHxvaPa7wyRr5sUM9mB4FqOqmdwIH1TNYvBxgl7Kcs77cqPAYcpmlKU6gAJQPyv_S1BOvnE2mJe0Ai5yDxtpsoocs8xzDgeDWNvEAqLi0Y6ocAoxMY2EHf7tcSjsYlBC7AluElyuIBrVi0FtjMvO_2egDMkaZRVSyQ3-wlnhkJagOtiUFgozenTgKKpRfyCUeArKt2_9xlOu62pxkGrZxTetw-Pt8UT7XDxwgEjhIeYUC-ocSl-LgqpXOoHdzKPUpXBbOShai-f9A1gTM5Uz3NwMV78q2Vv92cCZf23FtIYtnGKl7G1XkfO3E7EPrDl9_pe7XqphYYFNonk08mrzw_WS_Sg6bQoEmj53FXywa_CBtr3OYjVZglAqrzvAiBw5Rp2xZYGp2FejC9qYl3oyK-bk3Ixq2-SN7Q7FJ8n9sceaL7JwF3ETk6lx8768mcaQfyi5Qd2S3RhIA9bzdLFLnBy-lXCNNWIftiSLY3U_PBSb2h2-gOGmEdVlgXbF4Nb6abbyeGR9LP8c-Xxd8ISlAkaIz8_2Gh_0e1Z-jc1HUqb0xp3mKwNe2O-rCuaUIdHoTR9CclhmZyJ54VMQ5ijnKSywgbmoiOxtBD34pbrv2VoJSJV5R93IiNW5wUKtOdrN9mraQ_iH=w632-h395-no?authuser=3" alt=""></a>
        </div>
        <div class="card cficcion">
         
            <a href="#"><img class="title" src="https://lh3.googleusercontent.com/p32n_c79tUEkdpDpGsCkHfcuZqKaMMJZs754apWgpgJbJ4rU-Ks-zd37U2S1p8JCFr0svJ76a-iSGQ_E8VpXR1W2JKpHtpL5UzPDWJuoedZZemXnJLSUHvsIsxhwgIy5iHMVJ51tpLM6NDHjLOwgcSgIoFCRmQ6PFGt3FkXQUsPxer8PsRFm8qYt8-3mgetOrdFWqjqLXU-RLwoLqszNJVchGMraiX72KxdzQnT4pNaLziCveOrWX4lyYv4vH9wydiJ7D9fH5i3ESwn64-aX1DGmmuUp_vZ_ydLLWGufxfRmVEtqbXVLaGwccBZwBqza9mgD0HdmiVzHS1lDgQFfMQP9-A6agOzsGDUOWNcq9l6wAIJQ190ykTmglGWtxuOkaCQh4ZgcJZuadp1Je7lIgwU4O-yVsR6-6p4DbneALQYhme7_YPgWzQVCCH_zCtgplJ2i8rupERZuR9gqe6lKrbAH8zCYFkN_mNPXFiTLnRl1STU_vFoEKduCimB2dOT_flSl4aEKiuO_hfW6atsD37gehfql3YSE9sH0uU3i5x6l0g_8gQeTtiHGZtoLK_yiYxpsNbI6BIcTWJe02TJNKuiFIDmCwd7TixfIlsd3meUZqpAC6FZIeA7YVk-j7V6cXbR_pmgsQGc17l7yCFdWPt7iCmgs-UgaYqdAmbmp0WXgNB1wUOAJ26XL7Bl_TTNqFe66NFCit9wSQPkg=w632-h395-no?authuser=3" alt=""></a>
        </div>
        <div class="card romance">
          
            <a href="#"><img class="title" src="https://lh3.googleusercontent.com/YMTpT5zx6JP06KXhFXsis3G6JZgl1P7WMJQs6FxdUYiacHVXltIw-It98aOK3SfjqVUIiQUi3FQ6D7JkcDu0Ebxfhay3UxeO7PGgvDKuFv94Gbr3zBFEwC_GkTTnrLkUz2otD_zsXwTfy2g8l6DDno1WqvmFdk-pWx4EhLRf_hSgmJhiiYMKyqD0KLd7ppiVimV8bXrvkawp5o9I42wk4zCN-OvLMMFnJ3ZA0jm0S_HurFQL_q9bIKMjczemxYwCL1odrWXgsK0oNpZo96QWW7B-r2MK7HThviv2t-nLC3__olpDEnyShQBfX5nJv8ZPyg5v05E5bw8uYIytneh_DLEx9UBa7wEXDl5moOR-poFxmKbjX0VCJsUkXmRqpKmZFVy4xC9qWfGt2oFXlOldewD5lCrJT3eWnmVjskzrkBGrZLzeflNffjI3lFLYrIBw4yRN3LMlIdXIBz89P7BHZJCHFXVwu1QqoYCi_dQCuG8bZJ3C2cSi9BeL74m49ZKY5Kg8aZk_aGaVW-mHTU90EfAHXv59hbbk9g-sSaMd6HwSEhD5x2liqTz-HUfTnqqk0e4NvvbSEYGX206yfTgLCHjzU8wT9k8OyY1KUhsQu_desziYQVtoVlN9jjrY3K-tcpBM7Xp5qNYhBxOv4qOuzTPOCUlKCEW9erD0gvnvcxg7luw_HjHKpDh6Jm4-ETd_3nqVr0sxIaJDKUQp=w632-h395-no?authuser=3" alt=""></a>
        </div>
        <div class="card vertodo">
        
            <a href="#"><img class="title" src="https://lh3.googleusercontent.com/JuMsBT7AtzZfsKJ-68b-2F7z-Vjs3cQQ2gtKQ4n3UWC8kNX1-_2P4DttTfMs-EB04Ea3_KB24SVvFI6DToWeq31QXRFqpjZekSpYA9o7VmMj4y8PBsjKViDZudY_yfor-TRPVHR4Vs_8LEajrcIOvEakQ_MxcWFFeR0opWwCHXgOlfWafUlN2F01YCFiEcenXyA_GBoEfSgS8ekM3mjM_zmWkuIYWGc0eEfuuytowGv47PLPEykTQmQWaw3AcbSsLckkbZotDYTPfZHW64SnjSIJCZ0Hn2yKO-4r4jjyYfMZnLVV1hgnRIWQIHkOn96fdMb4uLusXwoYTnpgM-UI4QfpDOA3kxrYZFbhjG5hNXzh3UWeiCAKEl6AvgbmMIvJ4vq8sX468b9JazsA05xNNLHWt5rE-QbqTZSdPD71sfzk6h26MeHDWzuwuyExVO5jez0UtZHuz7_PWwzXsMVeeoHq-JlxB1GCvBmA2sryYrWUqpkZPLCZKEV7wSlmN2rQ3hJdYQcUmhWEcIMqrz7e2Zu9Z-Pc93PZJzB94JOQDal8VfTL3dCywx9AaBOoDuyxoPyKZqsZ6xYo71mSZSGAhohPasYi7WXuttKfZJ3wv7jObsw7pQOeZ3zEGtyLTZ3Z8Nx2XYBoI6ReHWdFmxAm7fk-UaaGnJPkJORj3fZ5G12ENinZGxiDnw7fOQFSQKh4TVHs0h8oQmH2rOFE=w632-h395-no?authuser=3" alt=""></a>
        </div>
    </div>






    <style>

        .pos {
            position: relative;
        }


        html, body {
            padding: 0;
            background-color: #000000;
        }

        .nav-link {
            text-decoration: none;
            margin: 5px;
            color: white;
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
        }

            .nav-link:hover {
                font-family: 'Montserrat', sans-serif;
                color: #696969;
            }

        input {
            outline: none;
        }

            input[type=search] {
                -webkit-appearance: textfield;
                -webkit-box-sizing: content-box;
                font-family: inherit;
                font-size: 100%;
            }

            input::-webkit-search-decoration,
            input::-webkit-search-cancel-button {
                display: none;
            }


            input[type=search] {
                background: black;
                border: solid 1px #373737;
                padding: 9px 10px 9px 32px;
                width: 130px;
                -webkit-border-radius: 10em;
                -moz-border-radius: 10em;
                border-radius: 10em;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                transition: all .5s;
                color: white;
            }

            input:-moz-placeholder {
                color: #ffffff;
            }

            input::-webkit-input-placeholder {
                color: #ffffff;
            }

        .container2 {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            margin-top: 50px;
        }

        .card {
            display: flex;
            justify-content: center;
            height: 160px;
            width: 400px;
            background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
            box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
            border-radius: 10px;
            margin-right: 20px;
            border: 4px solid #3e404c;
            cursor: pointer;
            transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        }

        .title {
            height: 160px;
            width: auto;
        }

        .terror:hover {
            background: url('https://i.pinimg.com/originals/24/7d/95/247d95733a32d2959c47008a429bcd31.gif');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }

        .accion:hover {
            background: url('https://i.pinimg.com/originals/e9/80/9c/e9809cd73b6d596a633efdba2da11021.gif');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }


        .comedia:hover {
            background: url('https://indicepolitico.com/wp-content/uploads/2019/08/giphy-1-1.gif');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }


        .infantil:hover {
            background: url('https://static.wixstatic.com/media/c6f733_4369575bae7541ad8b7906c2c0a6a1cd~mv2.gif');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }

        .suspenso:hover {
            background: url('https://i.imgur.com/xd0A7sR.gif');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }

        .drama:hover {
            background: url('https://i.gifer.com/Msyh.gif');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }

        .musical:hover {
            background: url('http://5b0988e595225.cdn.sohucs.com/images/20191006/312afb49bc7d4660a449440e0d276f77.gif');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }

        .documental:hover {
            background: url('https://thumbs.gfycat.com/SpottedUglyIrukandjijellyfish-size_restricted.gif');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }

        .animacion:hover {
            background: url('https://64.media.tumblr.com/2cb3f341b24be3bbbc3c183ffcacd52f/525bec0d17c18bb4-19/s640x960/76bb869f1ffffc0315429c7ee643c381434771e4.gifv');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }

        .suspenso:hover {
            background: url('http://media.giphy.com/media/5wWf7H1AXmQRDr57was/giphy.gif');
            background-size: cover;
            border: 4px solid white;
            transform: scale(1.05);
        }
    </style>

</body>
</html>

